[*.cs]

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
# SA1602: Enumerations should be documented
dotnet_diagnostic.SA1602.severity = none
# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none